body
{
	margin: 0;
	height: 100vh;
	display: flex;
}

.img-content
{
	flex: 1;
	background-image: url(imgs/safar-safarov-koOdUvfGr4c-unsplash.jpg);
	background-size: cover;
}

.form-content
{
	flex: 2;
}
